-- INTERNAL BACKUP CONFIGURATION


TABLES-NOT-TO-BACKUP

  db_heartbeat
  build_set_tmp
  backup_builds


TABLES-TO-FILTER-BY-BUILDS

  build_data_storage
  build_labels
  compiler_output
  failed_tests_output
  ignored_tests
  personal_build_relative_path
  stats
  test_info
  inspection_results
  inspection_stats
  inspection_diff
  duplicate_results
  duplicate_diff
  duplicate_stats
  running
  history
  light_history






